src/main/app/ConvertTemperature12.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd">
  <apikit-soap:config name="/ConvertTemperature/ConvertTemperatureSoap12/api-config" wsdlUrl="ConvertTemperature.wsdl" serviceName="ConvertTemperature" portName="ConvertTemperatureSoap12" doc:name="APIkit SOAP: Configuration"/>
  <flow name="api-main12">
    <http:listener path="${soap.api.template.http.inbound.soap12.path}" config-ref="HTTP_Listener_Config" doc:name="/ConvertTemperature/ConvertTemperatureSoap12" />
    <apikit-soap:router config-ref="/ConvertTemperature/ConvertTemperatureSoap12/api-config" doc:name="SOAP Router"/>
  </flow>
  <flow name="ConvertTemp:/ConvertTemperature/ConvertTemperatureSoap12/api-config">
  		<logger message="Started flow: #[flow.name]" level="INFO" doc:name="Logger"/>
        <flow-ref name="ConvertTemp_SubFlow" doc:name="Flow Reference"/>
        <logger message="Completed flow: #[flow.name]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>